<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/login.css">  
</head>
<body>
  <div class="container">
    <h2>Login Form</h2>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Login">
      </div>
    </form>

    <div class="form-group">
      <!-- Link/button to redirect to the registration page -->
      <a href="/">Don't have an account? Register</a>
      <!-- or, if you prefer using a button -->
      <!-- <button onclick="window.location.href='/'">Don't have an account? Register</button> -->
    </div>
  </div>
</body>
</html>
